.panel.panel-primary
  .panel-heading
    %h3.panel-title Account Details
  .panel-body
    .row
      .col-md-1
        %a.td-n.mr-5px.brad-100p.bgc-green-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "backward4", :title => "Previous Account", :href => path_replace_account_id(@account.previous_account) }
      .col-md-4
      .col-md-2
        %center
          %a.td-n.mr-5px.brad-100p.bgc-green-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "home", :title => "All Accounts", :href => "/accounts" }
      .col-md-4
      .col-md-1
        %a.td-n.mr-5px.brad-100p.bgc-green-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "forward4", :title => "Next Account", :href => path_replace_account_id(@account.next_account) }

    %table.colorit.w-100p
      %tr
        %th Owner
        %td= @account.owner
      %tr
        %th Number
        %td= @account.account_number
      %tr
        %th Bank
        %td
          = @account.bank.figo_bank_name || @account.bank.iban_bank_name
          - if url = @account.bank.login_url
            %a{"data-icon" => "link-external",:href => url,:target => "_blank"}
      %tr
        %th IBAN
        %td
          - if @account.is_service?
            = @account.iban
          - else
            = @account.iban_obj.prettify
      %tr
        %th Balance
        %td
          = currency(@account.last_known_balance, :unit => @account.currency)
      %tr
        %th Actions
        %td
          = haml :"_account_actions", :locals => { :account => @account }
